<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>PERSONAJES</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Lista Personajes</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item *ngFor="let aux of ListaPersonajes" [routerLink]="[/Personajes/, aux.id]">
      <ion-avatar slot="start">
        <ion-img [src]="aux.imagen"></ion-img>
      </ion-avatar>
      <ion-label>{{ aux.nombre }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
