<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <img alt="Silhouette of mountains" src="https://resizer.glanacion.com/resizer/rI0GT1hTws9mq9TBQJGPS_YKdc8=/880x586/smart/filters:format(webp):quality(70)/cloudfront-us-east-1.images.arcpublishing.com/lanacionar/VBNBHW5GIVBVJM4UJTKLZEZAWA.jpg" />
    <ion-card-header>
      <ion-card-title>Canserbero</ion-card-title>
      <ion-card-subtitle>Un vio</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Tirone José González Orama (Caracas, 11 de marzo de 1988-Maracay, 20 de enero de 2015), mejor conocido por su nombre artístico Canserbero, 
      fue un rapero, compositor y activista venezolano,considerado como uno de los exponentes más significativos del rap independiente en su país de origen y en el resto de América Latina.
    </ion-card-content>
    <ion-button [routerLink]="['/personajes']" fill="clear">Ver más... </ion-button>
  </ion-card>
</ion-content>
